# Namecheap cPanel Deployment Credentials (Used by: npm run deploy)
CPANEL_HOST=your-server-hostname-or-ip
CPANEL_USERNAME=your-cpanel-or-ftp-username
CPANEL_PASSWORD=your-cpanel-or-ftp-password
CPANEL_PORT=21
CPANEL_DIR=public_html

# Other Application Variables
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
