# Dependencies
node_modules/
/.pnp
.pnp.js

# Production / Build Output
dist/
dist.zip
build/
coverage/

# Environment Variables & Credentials
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
temp_login.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor Files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary & Binary Artifacts
*.apk
.system_generated/
